@tailwind base;
@tailwind components;
@tailwind utilities;

/* Небольшие пользовательские стили */
html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* Полоса прокрутки для кастомного вида */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100,100,100,0.3);
  border-radius: 9999px;
}
